@charset "UTF-8";
* {
  padding: 0px;
  top: 0px;
  background-color: black;
}

header {
  grid-area: header;
  background-color: black;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
}
header .container {
  background-color: black;
}

.navbar li {
  transition: transform 0.3s;
  /*efecto al pasar el mouse por encima*/
}
.navbar li:hover {
  transform: scale(1.1);
}

.body_servicios {
  margin-top: 150px;
}
.body_servicios h1 {
  color: white;
}
.body_servicios h2 {
  color: white;
}
.body_servicios h3 {
  color: white;
}
.body_servicios h4 {
  color: white;
}
.body_servicios h6 {
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande", "Lucida Sans", Arial, sans-serif;
  color: white;
}

.body_index {
  background-color: black;
  margin-top: 200px;
  padding-bottom: 50px;
}
.body_index .img-izq {
  margin-bottom: 40px;
  float: right;
}
.body_index p {
  color: whitesmoke;
}
.body_index .cardsservicios {
  background-color: black;
  padding: 0%;
}
.body_index .card {
  background-color: black;
  margin-left: auto;
  justify-content: center;
}
.body_index h1 {
  color: white;
}
.body_index h2 {
  color: white;
  margin-top: 20px;
  margin-bottom: 40px;
}
.body_index h3 {
  color: white;
}
.body_index h4 {
  color: white;
}
.body_index h6 {
  color: white;
}

.formulario {
  background-color: black;
  padding-bottom: 50px;
}
.formulario h1 {
  color: white;
}
.formulario h2 {
  color: white;
  margin-top: 20px;
  margin-bottom: 40px;
}
.formulario h3 {
  color: white;
}
.formulario h6 {
  color: white;
}

/*página contacto*/
.body_contacto {
  background-color: black;
  width: 100%;
  height: 100%;
}
.body_contacto h1 {
  color: white;
}
.body_contacto h2 {
  color: white;
  margin-top: 20px;
  margin-bottom: 40px;
}
.body_contacto h3 {
  color: white;
}
.body_contacto h6 {
  color: white;
}

details {
  color: white;
  border-radius: 6px;
  cursor: pointer;
}

summary {
  color: white;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  font-size: 18;
  list-style: none;
}

.respuesta {
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  font-size: 14;
}

summary::before {
  content: "+";
  padding-right: 1rem;
}

.img-fluid {
  text-align: center;
}

.container-servicios {
  margin-top: 350px;
  text-align: center;
  margin-left: 150px;
  padding-bottom: 50px;
}

.parrafo {
  margin-left: 50px;
}

.map-container {
  overflow: hidden;
  padding-bottom: 56.25%;
  position: relative;
  height: 0;
  background-color: black;
}

.map-container iframe {
  left: 0;
  top: 0;
  height: 100%;
  width: 100%;
  position: absolute;
}

.footer {
  background-color: black;
  text-align: center;
  align-content: center;
}
.footer img {
  height: 35px;
  width: 35px;
  transition: transform 0.3s;
}
.footer li {
  list-style-type: none;
}
.footer h3 {
  color: white;
  margin-bottom: 30px;
}
.footer h6 {
  color: white;
}
.footer .links {
  margin-top: 20px;
}
.footer .links img {
  height: 35px;
  width: 35px;
  transition: transform 0.3s;
}
.footer .redes {
  margin-top: 20px;
}
.footer .redes img {
  height: 35px;
  width: 35px;
  transition: transform 0.3s;
}

.imagen {
  margin-top: 10px;
}

.item_contact {
  margin-top: 10px;
}

.info {
  margin-top: 20px;
}

.contacto {
  margin-top: 150px;
  text-align: center;
}
.contacto h1 {
  color: white;
}
.contacto h2 {
  color: white;
}
.contacto h3 {
  color: white;
}
.contacto h6 {
  color: white;
}

.body_taller {
  height: 100%;
  margin-top: 200px;
}

.historia {
  margin-top: 50px;
  padding-bottom: 50px;
}
.historia h1 {
  color: white;
}
.historia h2 {
  color: white;
}
.historia h3 {
  color: white;
}
.historia h6 {
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande", "Lucida Sans", Arial, sans-serif;
  color: white;
}

.faq {
  margin-top: 175px;
  background-color: black;
}
.faq h1 {
  color: white;
}
.faq h2 {
  color: white;
}
.faq h3 {
  color: white;
}
.faq h6 {
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande", "Lucida Sans", Arial, sans-serif;
  color: white;
}

div.parrafos1 {
  display: flex;
}

div.parrafos img {
  float: left;
  margin-right: 15px;
  border-radius: 50%;
  width: 150px;
  height: 150px;
}

div.parrafos2 {
  display: flex;
}

div.parrafos2 img.derecha {
  float: right;
  margin-left: 15px;
  border-radius: 10%;
  width: 150px;
  height: 150px;
}

.parrafos1 izquierda {
  float: left;
  margin-right: 15px;
  border-radius: 10%;
  margin-bottom: 50px;
}

div.parrafos3 {
  display: flex;
}

.mapa {
  size: auto;
}

.parrafos3 {
  float: left;
  margin-right: 15px;
  border-radius: 10%;
  margin-bottom: 50px;
  width: 150px;
  height: 150px;
}

.izquierda {
  float: left;
  text-align: center;
  justify-content: center;
  margin-right: 15px;
  border-radius: 10%;
  margin-bottom: 50px;
  width: 200px;
  height: 200px;
}

.derecha {
  float: right;
  text-align: center;
  justify-content: center;
  margin-right: 15px;
  border-radius: 10%;
  margin-bottom: 50px;
  width: 200px;
  height: 200px;
}

/*# sourceMappingURL=style.css.map */
